/*COMMON*/
body {
  font-size: 15px;
  height: 100%;
}

div {
  display: block;
}

* {
  font-family: Inter,sans-serif;
}

fieldset, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid;
}

main {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

html, #root, .app {
  height: 100%;
}

/* CLASS */

.app {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, sans-serif;
}

.sidebar {
  z-index: 40;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex: none;
}

.nav {
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
  z-index: 10;
  position: relative;
}

.header {
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 2rem 0 0.5rem;

}

.content-container {
  flex: 1 1 auto;
  min-width: 0;
  background-color: black;
}

.content-overlay {
  width: 0px;
  height: 0px;
  position: fixed;
  left: calc(100vw/2);
  top: calc(100vh/2);
  z-index: 100;
  background-color: black;
}

.content-overlay-fullscreen {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.overlay-close {
  color: white;
  width: 30px;
  height: 30px;
}

.overlay-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 110;
  background-color: transparent;
}

.overlay-close-button:hover {
  cursor: pointer;
}

.example-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.375rem;
  cursor: pointer;
  display: block;
  text-decoration: inherit;
  --tw-text-opacity: 1;
  color: rgba(31,41,55,var(--tw-text-opacity));
}

.example-link:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}

.example-link-active {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.font-medium {
  font-weight: 500;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex {
  display: flex
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.non-sidebar-area {
  width: calc(100% - 15rem);
  height: 100%;
}

.enter-button {
  --width: 7em;
  --height: 2.1em;

  border: 2px solid lightgray;
  border-radius: 0.5em;
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.5);
  height: var(--height);
  width: var(--width);
  font-size: 1.5em;
  z-index: 10000;
  position: absolute;
  left: calc(50% - var(--width)/2);
  top: calc(10% - var(--height)/2);
}

.enter-button:hover {
  color: white;
  border-color: white;
}

.visualizer-canvas {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* MEDIA */

@media (max-width: 1023px) {
  .non-sidebar-area {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .lg-flex {
    display: flex;
  }
  .lg-pt-0 {
    padding-top: 0;
  }

  .lg-pb-14 {
    padding-bottom: 3.5rem;
  }

  .lg-pb-16 {
    padding-bottom: 4rem;
  }

  .lg-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }

  .lg-bg-transparent {
    background-color: transparent;
  }

  .lg-overflow-y-visible {
    overflow-y: visible
  }

  .lg-w-60 {
    width: 15rem;
  }

  .lg-h-auto {
    height: auto
  }

  .lg-block {
    display: block
  }

  .lg-static {
    position: static
  }

  .lg-mr-0 {
    margin-right: 0
  }

  .lg-top-16 {
    top: 4rem
  }

  .lg-sticky {
    position: sticky;
  }

  .lg-text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  .lg-text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .sticky-lg-h {
    height: calc(100vh - 4rem);
  }
}

@media (min-width: 640px) {
  .sm-pl-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}